{% extends 'base.html' %}

{% block content %}

  <section class="contact spad">
    <div class="container">
      <div class="contact__text">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb__text">
              <h2>Contact</h2>
              <div class="breadcrumb__option">
                <a href="#">Home</a>
                <span>Contact</span>
              </div>
            </div>
          </div>
        </div>
    <!-- карта -->
      <head>
        <title>Interactive maps for Django web apps</title>
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
      </head>
      <body>
      <h1>Mapbox </h1>
      <div id='map' style="width: 600px; height:300px;"></div>
      <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2lyaXVzZGV2cyIsImEiOiJjbDF3YmJ6ZnMwM3Z4M29ta2tjdmNnZHBiIn0.5_AfG0yijkZHd6heg33ChQ';
      // mapboxgl.accessToken = {{ mapbox_access_token }}
        var map = new mapboxgl.Map({
        container: 'map',
        // style: 'mapbox://styles/mapbox/streets-v11',
        style: 'mapbox://styles/siriusdevs/cl1wqm7sc004b15o9v1ze78g2',
        center: [39.9801027,43.403336],
        zoom: 12,
        bearing: 180
        });
      </script> 
      </body>
      <!-- карта -->
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="contact__widget">
              <ul>
                {% for contact in contacts %}
                  <li>
{#                    <i class="fa fa-map-marker"></i>#}
                  <style type="text/css">
                    .contact_icon {
                      margin-top: 10px;
                    }
                    </style>
                    <img class="contact_icon" src="{{ contact.icon.url }}">
                    <span>{{ contact.name }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="contact__form">
              <div class="contact__form__title">
                <h2>Обратная связь</h2>
                <style type="text/css">
                  .contact__form {
                    margin-left:150px;
                    margin-top: -350px;
                  }
                  </style>
              <form action="{% url 'feedback' %}" method="post">
{#                <input type="text" placeholder="Name">#}
{#                <input type="text" placeholder="Email">#}
{#                <input type="text" placeholder="Website">#}
{#                <textarea placeholder="Message"></textarea>#}
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="site-btn">Отправить</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
